@import '../App/css/breakpoints-var.css';
@import '../App/css/colors-var.css';

.Grid {
}

.Grid--fill-default {
  background-color: rgb(230, 232, 233);

  margin-top: 1rem;
  margin-bottom: 1rem;

  padding-top: 0.8rem;
  padding-bottom: 0.3rem;

  @media (--breakpoint-s) {
    padding-top: 1.5rem;
    padding-bottom: .7rem;
  }
}

.Grid__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3%;

  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
  padding: 0 4%;
}

.Grid__inner > * {
  grid-column-start: 1;
  grid-column-end: 13;
}
