@import '../App/css/breakpoints-var.css';
@import '../App/css/colors-var.css';

.Margin--root {
  font-size: 0.85em;
}

@media (--breakpoint-m) {
  .Margin--root {
    height: 0;
    overflow: visible;
  }
}

.Margin--root .Margin--inner {
  /* max-width: 20rem; */
  width: 100%;

  border-top: 0.2rem solid $colors--secondary;
  border-bottom: 0.2rem solid $colors--secondary;
}

@media (--breakpoint-m) {
  .Margin--root .Margin--inner {
    width: 18rem;
    padding-top: 0.7rem;
    padding-bottom: 0.4rem;
    float: left;
    margin: 0.3rem 1.2rem 0.7rem 0;
    clear: both;
  }
}

@media (--breakpoint-l) {
  .Margin--root .Margin--inner {
    margin-left: -20rem;
  }
}
