@import '../App/css/breakpoints-var.css';
@import '../App/css/colors-var.css';
@import '../App/css/fonts-var.css';
@import '../Headings/styles-var.css';

$margin--font--scale: 0.85;

.Margin--root {
  font-size: calc($margin--font--scale * 1em);

  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  @media (--breakpoint-s) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (--breakpoint-s) {
  .Margin--root {
    height: 0;
    overflow: visible;
    transform: translateY(0.9em);
  }
}
.Margin--root {
  h1,
  :global(.h1) {
    font-size: calc($fontSizes--default--h1 * $margin--font--scale * 1rem);
    @media (--breakpoint-s) {
      font-size: calc($fontSizes--s--h1 * $margin--font--scale * 1rem);
    }
  }

  h2,
  :global(.h2) {
    font-size: calc($fontSizes--default--h2 * $margin--font--scale * 1rem);
    @media (--breakpoint-s) {
      font-size: calc($fontSizes--s--h2 * $margin--font--scale * 1rem);
    }
  }

  h3,
  :global(.h3) {
    font-size: calc($fontSizes--default--h3 * $margin--font--scale * 1rem);

    margin-top: 1.2em;
    margin-bottom: 0.4em;

    @media (--breakpoint-s) {
      font-size: calc($fontSizes--s--h3 * $margin--font--scale * 1rem);
    }
  }

  h4,
  :global(.h4) {
    font-size: calc($fontSizes--default--h4 * $margin--font--scale * 1rem);
    @media (--breakpoint-s) {
      font-size: calc($fontSizes--s--h4 * $margin--font--scale * 1rem);
    }
  }
}

.Margin--root .Margin--inner {
  /* max-width: 20rem; */

  width: calc(100% - 1rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  padding-top: 0.7rem;
  padding-bottom: 0.4rem;

  border-top: 0.2rem solid $colors--secondary;
  border-bottom: 1px solid $colors--secondary;
  background-color: rgb(230, 232, 233); /* rgba(98, 122, 135, .1)*/

  > h3:first-child,
  > .h3:first-child {
    margin-top: 0;
  }

  @media (--breakpoint-s) {
    width: 17rem;
    margin-top: 0.5rem;
    margin-left: -20rem;
  }
}
