/* https://google-webfonts-helper.herokuapp.com/fonts */
body {
  color: #222;
  margin: 0;
  padding: 0;
  hyphens: auto;
}

body {
  font-feature-settings: 'onum' 1, 'pnum' 1;
}

@supports (font-variant-numeric: oldstyle-nums) {
  body {
    font-feature-settings: normal;
    font-variant-ligatures: oldstyle-nums proportional-nums;
  }
}

::selection {
  background: #b3b3b3;
  text-shadow: none;
}
