$fontSizes--default--h1: 2.2;
$fontSizes--default--h2: 1.6;
$fontSizes--default--h3: 1.2;
$fontSizes--default--h4: 1;

$fontSizes--s--h1: 2.9;
$fontSizes--s--h2: 1.7;
$fontSizes--s--h3: 1.3;
$fontSizes--s--h4: 1;
