$fontSizes--default--h1: 2.2;
$fontSizes--default--h2: 1.6;
$fontSizes--default--h3: 1.1;
$fontSizes--default--h4: 1.0;

$fontSizes--m--h1: 2.9;
$fontSizes--m--h2: 1.7;
$fontSizes--m--h3: 1.1;
$fontSizes--m--h4: 1.0;
