@import "../App/css/fonts-var.css";
@import "../App/css/breakpoints-var.css";
@import "./styles-var.css";

h1,
:global(.h1),
h2,
:global(.h2),
h3,
:global(.h3),
h4,
:global(.h4)  {
  font-weight: $fontWeights--default--sans--bold;
  line-height: 1.2;
  letter-spacing: .01em;
}

h1,
:global(.h1) {
  font-size: calc($fontSizes--default--h1 * 1rem);
  margin-top: 0.5em;
  margin-bottom: 1.25em;

  @media (--breakpoint-s) {
    font-size: calc($fontSizes--s--h1 * 1rem);
  }
}

h2,
:global(.h2) {
  font-size: calc($fontSizes--default--h2 * 1rem);
  margin-top: 1.7em;
  margin-bottom: 0.4em;

  @media (--breakpoint-s) {
    font-size: calc($fontSizes--s--h2 * 1rem);
  }
}

h3,
:global(.h3) {
  font-size: calc($fontSizes--default--h3 * 1rem);
  margin-top: 1.9em;
  margin-bottom: 0.2em;

  @media (--breakpoint-s) {
    font-size: calc($fontSizes--s--h3 * 1rem);
  }
}


h4,
:global(.h4) {
  font-size: calc($fontSizes--default--h4 * 1rem);
  margin-top: 1.1em;
  margin-bottom: 0.4em;

  @media (--breakpoint-s) {
    font-size: calc($fontSizes--s--h4 * 1rem);
    content: $fontSizes--s--h4;
  }
}
