@import "../components/App/css/colors-var.css";
@import "../components/App/css/breakpoints-var.css";

.Index--item {
  margin-bottom: 3rem;

  @media (--breakpoint-m) {
    margin-bottom: 4.5rem;
  }


  &:before {
      content: "";
      display: block;
      width: 100%;
      height: 0.3rem;
      background-color: black;
      margin-bottom: 1rem;

  }
}

.Index--title {

    margin-top: 0;
}


.Index--description {
  /* margin-left: 3rem; */

  @media (--breakpoint-m) {
    margin-left: 10rem;
  }
}
