@import "../components/App/css/colors-var.css";
@import "../components/App/css/breakpoints-var.css";
.Index--item {
  margin-bottom: 3rem;

  @media (--breakpoint-m) {
    margin-bottom: 4.5rem;
  }
}
.Index--title {
    margin-top: 0;
}
