@import "../../components/App/css/colors-var.css";
@import "../../components/App/css/breakpoints-var.css";



.post-single__lead {
  color: $colors--secondary;
  margin-left: 1.3em;
  font-size: 1.2rem;
  line-height: 1.6;


  @media (--breakpoint-m) {
    margin-left: 4.3em;
    font-size: 1.5rem;

  }

}
