@import '../../components/App/css/colors-var.css';
@import '../../components/App/css/breakpoints-var.css';

.layout__content .post-single__lead {
  color: $colors--secondary;
  padding-left: calc(2% + 1.3em);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  hyphens: none;

  @media (--breakpoint-m) {
    padding-left: calc(2% + 4.3em);
    font-size: 1.3rem;
  }
}
