@import '../App/css/colors-var.css';
@import '../App/css/breakpoints-var.css';

blockquote {
  font-style: italic;
  position: relative;
  margin-top: 1em;
  margin-bottom: 0.5em;

  margin-left: 1.25em;
  margin-right: 1.25em;
  & + em {
    font-size: 0.85rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    display: block;
  }

  h1,
  h2,
  h3,
  h4 {
    font-style: normal;
  }

  .layout__content > div > & {
    padding-left: calc(4% + 2em);

    @media (--breakpoint-s) {
      padding-left: calc(20rem + 2em);
    }

    @media (--breakpoint-l) {
      padding-left: calc(4% + 2em);
    }
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 0.25em;
    margin-left: -1em;
    background-color: $colors--primary;
  }
}
