$breakpoints--s: 1100px;
$breakpoints--m: 1200px;
$breakpoints--l: 1500px;
/* $breakpoints--xl: 1600px; */

@custom-media --breakpoint-s (min-width: $breakpoints--s);
@custom-media --breakpoint-m (min-width: $breakpoints--m);
@custom-media --breakpoint-l (min-width: $breakpoints--l);
/* @custom-media --breakpoint-xl (min-width: $breakpoints--xl); */
