@import "./fonts-var.css";


@font-face {
  font-family: $fontNames--sans;
  font-style: normal;
  font-weight: $fontWeights--default--sans--regular;
  src: url('../../../../static/fonts/work-sans-v3-latin-ext_latin/work-sans-v3-latin-ext_latin-regular.woff2') format('woff2'),
      url('../../../../static/fonts/work-sans-v3-latin-ext_latin/work-sans-v3-latin-ext_latin-regular.woff') format('woff');

}

@font-face {
  font-family: $fontNames--sans;
  font-style: normal;
  font-weight: $fontWeights--default--sans--bold;
  src: url('../../../../static/fonts/work-sans-v3-latin-ext_latin/work-sans-v3-latin-ext_latin-700.woff2') format('woff2'),
       url('../../../../static/fonts/work-sans-v3-latin-ext_latin/work-sans-v3-latin-ext_latin-700.woff') format('woff');
}
