@import "../App/css/breakpoints-var.css";

.Box--ratio .Box__wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color: black;
}

.Box--maxWidth-60 .Box__inner {
  max-width: 60%;
}

.Box--maxWidth-70 .Box__inner {
  max-width: 70%;
}

.Box--maxWidth-75 .Box__inner {
  max-width: 75%;
}

.Box--line-default {
  border: 1px solid #ccc;
}

/* 16:9 ratio */
.Box--ratio-16-9 .Box__wrapper {
  padding-bottom: 56.25%;
}
/* 4:3 ratio */
.Box--ratio-4-3 .Box__wrapper {
  padding-bottom: 75%;
}
/* 3:2 ratio */
.Box--ratio-3-2 .Box__wrapper {
  padding-bottom: 66.666%;
}

/* 1:1 ratio */
.Box--ratio-1-1 .Box__wrapper {
  padding-bottom: 100%;
}

.Box--ratio .Box__wrapper .Box__inner > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Box--fill-default .Box__inner {
  background-color: rgb(230, 232, 233);
  padding-top: 0.9rem;
  padding-right: 1.4rem;
  padding-bottom: 1rem;
  padding-left: 1.4rem;
}

.Box--bgColor-white {
  background-color: white;
}
