@import "../App/css/fonts-var.css";
@import "../App/css/breakpoints-var.css";

html {
  font-family: $fontNames--sans;
  font-size: 15px;
  line-height: 1.65;

  @media (--breakpoint-m) {
    font-size: 18px;
  }
}
